<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{8} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="stdout" />
    </root>

    <logger name="akka" level="trace" />
    <logger name="org.mongodb.driver" level="off" />
</configuration>